html, body{
    height: 100%;
}

body{
    background: url("../img/cover.svg");
    background-position: center center;
    background-size: cover;
}

*{
    box-sizing: border-box;
}

.container{
    padding:100px 0 50px;
}

.main-card{
    background: #fff;
    width:95%;
    margin:auto;
    max-width: 900px;
    padding:40px;
    border-radius: 10px;
    box-shadow: 1px 6px 20px 5px rgba(0, 0, 0, 0.27);
}